#container{ margin:0 auto;
            width:800px;
        }
#canvas  {  border: 1px black solid;
            display: block;
            background-color:white;
        }
 
#header {   height:85px;
            background:url("../images/logo.png") no-repeat;
        }
        
#footer {   font-size:0.85em;
            margin: 4px 0 0 ;
        }
        
html,body { margin: 0px;
            height: 100%;
}

body    {   height: 100%;
            background-color:white; 
            background: -webkit-linear-gradient(top, cornflowerblue,white);
            background: -o-linear-gradient(top, cornflowerblue,white);
            background: -moz-linear-gradient(top, cornflowerblue,white);
            background: linear-gradient(top, cornflowerblue, white);
        }

#loginForm{
    alignment-adjust: center;
    width: 240px;
    opacity:0;
    text-align: center;
    font-size: 0.8em;
    color: #ffffff;
    background-color: #0066DD;
    padding: 10px 0 10px;
    margin: 40px;
    
    border-radius: 15px;
    opacity: 0;
}

#botton{
    width:165px;
    height: 50px;
    background-image: url("../images/login.png");
    margin:10px auto 0px;
}

#close{
    width:16px;
    height: 16px;
    background-image: url("../images/close.png");
    margin-bottom: 10px;
    margin-left:210px;
}

select {
    width: 245px;
    padding:3px;
    margin: 0;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    border-radius:4px;
    -webkit-box-shadow: 0 3px 0 #ccc, 0 -1px #fff inset;
    -moz-box-shadow: 0 3px 0 #ccc, 0 -1px #fff inset;
    box-shadow: 0 3px 0 #ccc, 0 -1px #fff inset;
    background: #f7f8f8;
    color:#444;
    border:none;
    outline:none;
    display: inline-block;
    -webkit-appearance:none;
    -moz-appearance:none;
    appearance:none;
    cursor:pointer;
    opacity:0;
}

